
@{
    ViewBag.Title = "Duyuru";
    Layout = "~/Views/Shared/_LoggedKoordinatorLayout.cshtml";
}


<div>
    <h2>Duyuru Sahaları</h2>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" onclick="clearTextBox();">Yeni Duyuru Ekle</button><br /><br />
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Duyuru Başlığı
                </th>
                <th>
                    Duyuru İçeriği
                </th>
            </tr>
        </thead>
        <tbody class="tbody"></tbody>
    </table>


    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    @*<button type="button" class="close" data-dissmiss="modal"><span aria-hidden="true">×</span></button>*@
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4 class="modal-title" id="myModalLabel">Yeni Duyuru</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="Duyuru_Id">ID</label>
                            <input type="text" class="form-control" id="Duyuru_Id" placeholder="Duyuru_Id" disabled="disabled" />
                        </div>
                        <div class="form-group">
                            <label for="Duyuru_Basligi">Duyuru Basligi</label>
                            <input type="text" class="form-control" id="Duyuru_Basligi" placeholder="Duyuru_Basligi" />
                        </div>
                        <div class="form-group">
                            <label for="Duyuru_Icerigi">Age</label>
                            <input type="text" class="form-control" id="Duyuru_Icerigi" placeholder="Duyuru_Icerigi" />
                        </div>
                    </form>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnAdd" onclick="return Add();">Add</button>
                <button type="button" class="btn btn-primary" id="btnUpdate" style="display:none;" onclick="Update();">Update</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>

</div>
<script src="~/Scripts/jquery-1.12.4.js"></script>
<script src="~/Scripts/Duyuru_Crud.js"></script>