
@{
    ViewBag.Title = "Danismanlar";
    Layout = "~/Views/Shared/_AnaLayout.cshtml";
}
<link href="~/Content/Personal Card/css/style.css" rel="stylesheet" />

<div class="content-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <div class="personal_container">
                    <div class="avatar-flip">
                        <img alt="Oğuz DİKENELLİ" src="http://bilmuh.ege.edu.tr/sites/default/files/bilmuh/personel/ogretim_uyeleri/oguz_dikenelli.jpg" height="150" width="150" title="Oğuz DİKENELLİ">
                        <img alt="Oğuz DİKENELLİ" src="http://bilmuh.ege.edu.tr/sites/default/files/bilmuh/personel/ogretim_uyeleri/oguz_dikenelli.jpg" height="150" width="150" title="Oğuz DİKENELLİ">
                    </div>
                    <h2>Oğuz DİKENELLİ, Prof.Dr.</h2>
                    <h4>Bölüm Başkanı</h4>
                    <hr><strong>Telefon:&nbsp;</strong>0232 388 72 21
                    <hr><strong>E-Posta:&nbsp;</strong><a href="mailto:oguz.dikenelli@ege.edu.tr">oguz.dikenelli@ege.edu.tr</a>
                    <hr><a href="http://akademik.ege.edu.tr/akademik/?q=tr/bilgiler&amp;id=1589" target="_blank">Akademik Bilgiler</a>&nbsp;&nbsp;-&nbsp;&nbsp;<a href="http://program.bilmuh.ege.edu.tr/view_schedule.php?type=faculty&amp;faculty=6" target="_blank">Haftalık Program</a>
                    <hr><strong>İlgi ve Araştırma Alanları:&nbsp;</strong>Etmen Tabanlı Yazılım Mühendisliği, Bağlı Veri, Veb, Etmen Tabanlı Simülasyon, Çevik Yazılım Geliştirme
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="personal_container">
                    <div class="avatar-flip">
                        <img alt="Levent TOKER" src="http://bilmuh.ege.edu.tr/sites/default/files/bilmuh/personel/ogretim_uyeleri/levent_toker.jpg" height="150" width="150" title="Levent TOKER">
                        <img alt="Levent TOKER" src="http://bilmuh.ege.edu.tr/sites/default/files/bilmuh/personel/ogretim_uyeleri/levent_toker.jpg" height="150" width="150" title="Levent TOKER">
                    </div>
                    <h2>Levent TOKER,</h2>
                    <h2>Prof.Dr.</h2>
                    <h4>Öğretim Üyesi</h4>
                    <hr><strong>Telefon:&nbsp;</strong>0232 311 25 85
                    <hr><strong>E-Posta:&nbsp;</strong><a href="mailto:toker1960@gmail.com">toker1960@gmail.com</a>
                    <hr><a href="http://akademik.ege.edu.tr/akademik/?q=tr/bilgiler&amp;id=1217" target="_blank">Akademik Bilgiler</a>&nbsp;-&nbsp;<a href="http://www.leventtoker.com/" target="_blank">Kişisel Sayfa</a>&nbsp;&nbsp;-&nbsp;<a href="http://program.bilmuh.ege.edu.tr/view_schedule.php?type=faculty&amp;faculty=5" target="_blank">Haftalık Program</a>
                    <hr><strong>İlgi ve Araştırma Alanları:&nbsp;</strong>Bilgisayar Ağları, Mobil Ağlar, Bilgisayar Ağı Yönetimi
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="personal_container">
                    <div class="avatar-flip">
                        <img alt="Serdar KORUKOĞLU" src="http://bilmuh.ege.edu.tr/sites/default/files/bilmuh/personel/ogretim_uyeleri/serdar_korukoglu.jpg" height="150" width="150" title="Serdar KORUKOĞLU">
                        <img alt="Serdar KORUKOĞLU" src="http://bilmuh.ege.edu.tr/sites/default/files/bilmuh/personel/ogretim_uyeleri/serdar_korukoglu.jpg" height="150" width="150" title="Serdar KORUKOĞLU">
                    </div>
                    <h2>Serdar KORUKOĞLU, Prof.Dr.</h2>
                    <h4>Uluslararası Bilgisayar Enstitüsü Müdürü</h4>
                    <hr><strong>Telefon:&nbsp;</strong>0232 311 25 86
                    <hr><strong>E-Posta:&nbsp;</strong><a href="mailto:serdar.korukoglu@ege.edu.tr">serdar.korukoglu@ege.edu.tr</a>
                    <hr><a href="http://akademik.ege.edu.tr/akademik/?q=tr/bilgiler&amp;id=881" target="_blank">Akademik Bilgiler</a>&nbsp;-&nbsp;<a href="http://www.korukoglu.com/" target="_blank">Kişisel Sayfa</a>&nbsp;&nbsp;-&nbsp;<a href="http://program.bilmuh.ege.edu.tr/view_schedule.php?type=faculty&amp;faculty=4" target="_blank">Haftalık Program</a>
                    <hr><strong>İlgi ve Araştırma Alanları:&nbsp;</strong> Sistem Modelleme ve Simülasyonu, Sayısal Yöntemler, İstatistik Analizler, Optimizasyon Teknikleri, Veri Madenciliği
                </div>
            </div>
        </div>
        <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="personal_container">
                        <div class="avatar-flip">
                            <img alt="Yasemin TOPALOĞLU" src="http://bilmuh.ege.edu.tr/sites/default/files/bilmuh/personel/ogretim_uyeleri/yasemin_topaloglu.jpg" height="150" width="150" title="Yasemin TOPALOĞLU">                            
                            <img alt="Yasemin TOPALOĞLU" src="http://bilmuh.ege.edu.tr/sites/default/files/bilmuh/personel/ogretim_uyeleri/yasemin_topaloglu.jpg"height="150" width="150"  title="Yasemin TOPALOĞLU">                           
                        </div>
                        <h2>Yasemin TOPALOĞLU, Prof.Dr.</h2>
                        <h4>Bilgisayar Bilimleri Ana Bilim Dalı Başkanı</h4>
                        <hr><strong>Telefon:&nbsp;</strong>0232 311 25 91
                        <hr><strong>E-Posta:&nbsp;</strong><a href="mailto:yasemin.topaloglu@ege.edu.tr">yasemin.topaloglu@ege.edu.tr</a>
                        <hr><a href="http://akademik.ege.edu.tr/akademik/?q=tr/bilgiler&amp;id=2008" target="_blank">Akademik Bilgiler</a>&nbsp;&nbsp;-&nbsp;<a href="http://program.bilmuh.ege.edu.tr/view_schedule.php?type=faculty&amp;faculty=7" target="_blank">Haftalık Program</a>
                        <hr><strong>İlgi ve Araştırma Alanları:&nbsp;</strong>Yazılım Mühendisliği, Model Tabanlı Yazılım Mühendisliği, Yazılım Mimarisi
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="personal_container">
                        <div class="avatar-flip">
                            <img alt="Aylin KANTARCI" src="http://bilmuh.ege.edu.tr/sites/default/files/bilmuh/personel/ogretim_uyeleri/aylin_kantarci.jpg" height="150" width="150" title="Aylin KANTARCI">
                            <img alt="Aylin KANTARCI" src="http://bilmuh.ege.edu.tr/sites/default/files/bilmuh/personel/ogretim_uyeleri/aylin_kantarci.jpg" height="150" width="150" title="Aylin KANTARCI">
                        </div>
                        <h2>Aylin KANTARCI, Prof.Dr.</h2>
                        <h4>Bilgisayar Donanımı Ana Bilim Dalı Başkanı</h4>
                        <hr><strong>Telefon:&nbsp;</strong>0232 311 53 16
                        <hr><strong>E-Posta:&nbsp;</strong><a href="mailto:aylin.kantarci@ege.edu.tr">aylin.kantarci@ege.edu.tr</a>
                        <hr><a href="http://akademik.ege.edu.tr/akademik/?q=tr/bilgiler&amp;id=2325" target="_blank">Akademik Bilgiler</a>&nbsp;-&nbsp;<a href="http://efe.ege.edu.tr/~kantarci/" target="_blank">Kişisel Sayfa</a>&nbsp;&nbsp;-&nbsp;<a href="http://program.bilmuh.ege.edu.tr/view_schedule.php?type=faculty&amp;faculty=2" target="_blank">Haftalık Program</a>
                        <hr><strong>İlgi ve Araştırma Alanları:&nbsp;</strong>İşletim Sistemleri, Bilgisayar Ağları, Dağıtık Sistemler, Çoklu Ortam Sistemleri, Kablosuz Algılayıcı Ağlar
                    </div>
                </div>
            <div class="col-md-4 col-sm-4">
                <div class="personal_container">
                    <div class="avatar-flip">
                        <img alt="Aybars UĞUR" src="http://bilmuh.ege.edu.tr/sites/default/files/bilmuh/personel/ogretim_uyeleri/aybars_ugur.jpg" height="150" width="150" title="Aybars UĞUR">
                        <img alt="Aybars UĞUR" src="http://bilmuh.ege.edu.tr/sites/default/files/bilmuh/personel/ogretim_uyeleri/aybars_ugur.jpg" height="150" width="150" title="Aybars UĞUR">
                    </div>
                    <h2>Aybars UĞUR, Prof.Dr.</h2>
                    <h4>Bilgisayar Yazılımı Ana Bilim Dalı Başkanı</h4>
                    <hr><strong>Telefon:&nbsp;</strong>0232 311 53 22
                    <hr><strong>E-Posta:&nbsp;</strong><a href="mailto:aybars.ugur@ege.edu.tr">aybars.ugur@ege.edu.tr</a>
                    <hr><a href="http://akademik.ege.edu.tr/akademik/?q=tr/bilgiler&amp;id=2632" target="_blank">Akademik Bilgiler</a>&nbsp;-&nbsp;<a href="http://yzgrafik.ege.edu.tr/~ugur" target="_blank">Kişisel Sayfa</a>&nbsp;&nbsp;-&nbsp;<a href="http://program.bilmuh.ege.edu.tr/view_schedule.php?type=faculty&amp;faculty=8" target="_blank">Haftalık Program</a>
                    <hr><strong>İlgi ve Araştırma Alanları:&nbsp;</strong>Yapay Zeka, Metasezgisel Algoritmalar, Eniyileme, Zeki Sistemler, Makine Öğrenmesi, Görüntü İşleme, Bilgisayar Grafikleri, Veri Yapıları
                </div>
            </div>
            </div>
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <div class="personal_container">
                    <div class="avatar-flip">
                        <img alt="Rıza Cenk ERDUR" src="http://bilmuh.ege.edu.tr/sites/default/files/bilmuh/personel/ogretim_uyeleri/cenk_erdur.jpg" height="150" width="150" title="Rıza Cenk ERDUR">                      
                        <img alt="Rıza Cenk ERDUR" src="http://bilmuh.ege.edu.tr/sites/default/files/bilmuh/personel/ogretim_uyeleri/cenk_erdur.jpg" height="150" width="150" title="Rıza Cenk ERDUR">
                    </div>
                    <h2>Rıza Cenk ERDUR, Doç.Dr.</h2>
                    <h4>Bölüm Başkan Yardımcısı</h4>
                    <hr><strong>Telefon:&nbsp;</strong>0232 311 53 19
                    <hr><strong>E-Posta:&nbsp;</strong><a href="mailto:cenk.erdur@ege.edu.tr">cenk.erdur@ege.edu.tr</a>
                    <hr><a href="http://akademik.ege.edu.tr/akademik/?q=tr/bilgiler&amp;id=2438" target="_blank">Akademik Bilgiler</a>&nbsp;&nbsp;-&nbsp;<a href="http://program.bilmuh.ege.edu.tr/view_schedule.php?type=faculty&amp;faculty=9" target="_blank">Haftalık Program</a>
                    <hr><strong>İlgi ve Araştırma Alanları:&nbsp;</strong>Yazılım Etmenleri ve Çok Etmenli Sistemler, Anlamsal Web ve Bağlı Veri, Nesneye Dayalı Yazılım Geliştirme
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="personal_container">
                    <div class="avatar-flip">
                        <img alt="Murat Osman ÜNALIR" src="http://bilmuh.ege.edu.tr/sites/default/files/bilmuh/personel/ogretim_uyeleri/murat_osman_unalir.jpg" height="150" width="150" title="Murat Osman ÜNALIR">
                        <img alt="Murat Osman ÜNALIR" src="http://bilmuh.ege.edu.tr/sites/default/files/bilmuh/personel/ogretim_uyeleri/murat_osman_unalir.jpg" height="150" width="150" title="Murat Osman ÜNALIR">
                    </div>
                    <h2>Murat Osman ÜNALIR, Doç.Dr.</h2>
                    <h4>Bölüm Başkan Yardımcısı</h4>
                    <hr><strong>Telefon:&nbsp;</strong>0232 311 53 24
                    <hr><strong>E-Posta:&nbsp;</strong><a href="mailto:vecdi.aytac@ege.edu.tr">vecdi.aytac@ege.edu.tr</a>
                    <hr><a href="http://akademik.ege.edu.tr/akademik/?q=tr/bilgiler&amp;id=2560" target="_blank">Akademik Bilgiler</a>&nbsp;-&nbsp;<a href="http://efe.ege.edu.tr/~aytac/" target="_blank">Kişisel Sayfa</a>&nbsp;&nbsp;-&nbsp;<a href="http://program.bilmuh.ege.edu.tr/view_schedule.php?type=faculty&amp;faculty=11" target="_blank">Haftalık Program</a>
                    <hr><strong>İlgi ve Araştırma Alanları:&nbsp;</strong>Algoritmalar, Hesaplama Yöntemleri, Çizge Kuramı
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="personal_container">
                    <div class="avatar-flip">
                        <img alt="Vecdi AYTAÇ" src="http://bilmuh.ege.edu.tr/sites/default/files/bilmuh/personel/ogretim_uyeleri/vecdi_aytac.jpg" height="150" width="150" title="Vecdi AYTAÇ">
                        <img alt="Vecdi AYTAÇ" src="http://bilmuh.ege.edu.tr/sites/default/files/bilmuh/personel/ogretim_uyeleri/vecdi_aytac.jpg" height="150" width="150" title="Vecdi AYTAÇ">
                    </div>
                    <h2>Vecdi AYTAÇ, Doç.Dr.</h2>
                    <h4>Öğretim Üyesi</h4>
                    <hr><strong>Telefon:&nbsp;</strong>0232 311 53 24
                    <hr><strong>E-Posta:&nbsp;</strong><a href="mailto:vecdi.aytac@ege.edu.tr">vecdi.aytac@ege.edu.tr</a>
                    <hr><a href="http://akademik.ege.edu.tr/akademik/?q=tr/bilgiler&amp;id=2560" target="_blank">Akademik Bilgiler</a>&nbsp;-&nbsp;<a href="http://efe.ege.edu.tr/~aytac/" target="_blank">Kişisel Sayfa</a>&nbsp;&nbsp;-&nbsp;<a href="http://program.bilmuh.ege.edu.tr/view_schedule.php?type=faculty&amp;faculty=11" target="_blank">Haftalık Program</a>
                    <hr><strong>İlgi ve Araştırma Alanları:&nbsp;</strong>Algoritmalar, Hesaplama Yöntemleri, Çizge Kuramı
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <div class="personal_container">
                    <div class="avatar-flip">
                        <img alt="Şebnem BORA" src="http://bilmuh.ege.edu.tr/sites/default/files/bilmuh/personel/ogretim_uyeleri/sebnem_bora.jpg" height="150" width="150" title="Şebnem BORA"> 
                        <img alt="Şebnem BORA" src="http://bilmuh.ege.edu.tr/sites/default/files/bilmuh/personel/ogretim_uyeleri/sebnem_bora.jpg" height="150" width="150" title="Şebnem BORA">
                    </div>
                    <h2>Şebnem BORA, Yrd.Doç.Dr.</h2>
                    <h4>Öğretim Üyesi</h4>
                    <hr><strong>Telefon:&nbsp;</strong>0232 311 25 84
                    <hr><strong>E-Posta:&nbsp;</strong><a href="mailto:sebnem.bora@ege.edu.tr">sebnem.bora@ege.edu.tr</a>
                    <hr><a href="http://akademik.ege.edu.tr/akademik/?q=tr/bilgiler&amp;id=2583" target="_blank">Akademik Bilgiler</a>&nbsp;&nbsp;-&nbsp;<a href="http://program.bilmuh.ege.edu.tr/view_schedule.php?type=faculty&amp;faculty=12" target="_blank">Haftalık Program</a>
                    <hr><strong>İlgi ve Araştırma Alanları:&nbsp;</strong>Yazılım Etmenleri ve Çoklu Etmen Sistemleri, Etmen Tabanlı Benzetim, Kendini Adapte Eden Sistemler, Kompleks Adaptif Sistemler                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="personal_container">
                    <div class="avatar-flip">
                        <img alt="Hasan BULUT" src="http://bilmuh.ege.edu.tr/sites/default/files/bilmuh/personel/ogretim_uyeleri/hasan_bulut.png" height="150" width="150" title="Hasan BULUT">
                        <img alt="Hasan BULUT" src="http://bilmuh.ege.edu.tr/sites/default/files/bilmuh/personel/ogretim_uyeleri/hasan_bulut.png" height="150" width="150" title="Hasan BULUT">
                    </div>
                    <h2>Hasan BULUT, Yrd.Doç.Dr</h2>
                    <h4>Öğretim Üyesi</h4>
                    <hr><strong>Telefon:&nbsp;</strong>0232 311 25 96
                    <hr><strong>E-Posta:&nbsp;</strong><a href="mailto:hasan.bulut@ege.edu.tr">hasan.bulut@ege.edu.tr</a>
                    <hr><a href="http://akademik.ege.edu.tr/?q=tr/bilgiler&amp;id=4010" target="_blank">Akademik Bilgiler</a>&nbsp;-&nbsp;<a href="http://efe.ege.edu.tr/~bulut/" target="_blank">Kişisel Sayfa</a>&nbsp;&nbsp;-&nbsp;<a href="http://program.bilmuh.ege.edu.tr/view_schedule.php?type=faculty&amp;faculty=13" target="_blank">Haftalık Program</a>
                    <hr><strong>İlgi ve Araştırma Alanları:&nbsp;</strong> 
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="personal_container">
                    <div class="avatar-flip">
                        <img alt="Özgür GÜMÜŞ" src="http://bilmuh.ege.edu.tr/sites/default/files/bilmuh/personel/ogretim_uyeleri/ozgur_gumus.jpg" height="150" width="150" title="Özgür GÜMÜŞ">
                        <img alt="Özgür GÜMÜŞ" src="http://bilmuh.ege.edu.tr/sites/default/files/bilmuh/personel/ogretim_uyeleri/ozgur_gumus.jpg" height="150" width="150" title="Özgür GÜMÜŞ">
                    </div>
                    <h2>Özgür GÜMÜŞ, Yrd.Doç.Dr.</h2>
                    <h4>Bölüm Staj Koordinatörü</h4>
                    <hr><strong>Telefon:&nbsp;</strong>0232 311 53 28
                    <hr><strong>E-Posta:&nbsp;</strong><a href="mailto:ozgur.gumus@ege.edu.tr">ozgur.gumus@ege.edu.tr</a>
                    <hr><a href="http://akademik.ege.edu.tr/akademik/?q=tr/bilgiler&amp;id=2922" target="_blank">Akademik Bilgiler</a>&nbsp;&nbsp;-&nbsp;<a href="http://program.bilmuh.ege.edu.tr/view_schedule.php?type=faculty&amp;faculty=14" target="_blank">Haftalık Program</a>
                    <hr><strong>İlgi ve Araştırma Alanları:&nbsp;</strong>Servis Yönelimli Hesaplama ve Web Servisleri, Anlamsal Web ve Anlamsal Web Servisleri, Yazılım Etmenleri ve Çoklu Etmen Sistemleri, Yazılım Mühendisliği
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <div class="personal_container">
                    <div class="avatar-flip">
                        <img alt="Özgü CAN" src="http://bilmuh.ege.edu.tr/sites/default/files/bilmuh/personel/ogretim_uyeleri/ozgu_can.jpg" height="150" width="150" title="Özgü CAN">
                        <img alt="Özgü CAN" src="http://bilmuh.ege.edu.tr/sites/default/files/bilmuh/personel/ogretim_uyeleri/ozgu_can.jpg" height="150" width="150" title="Özgü CAN">
                    </div>
                    <h2>Özgü CAN, Yrd.Doç.Dr.</h2>
                    <h4>Bölüm Bitirme Projeleri Koordinatörü</h4>
                    <hr><strong>Telefon:&nbsp;</strong>0232 311 53 32
                    <hr><strong>E-Posta:&nbsp;</strong><a href="mailto:ozgu.can@ege.edu.tr">ozgu.can@ege.edu.tr</a>
                    <hr><a href="http://akademik.ege.edu.tr/akademik/?q=tr/bilgiler&amp;id=3315" target="_blank">Akademik Bilgiler</a>&nbsp;-&nbsp;<a href="http://semanticweb.ege.edu.tr/ozgucan/" target="_blank">Kişisel Sayfa</a>&nbsp;&nbsp;-&nbsp;<a href="http://program.bilmuh.ege.edu.tr/view_schedule.php?type=faculty&amp;faculty=15" target="_blank">Haftalık Program</a>
                    <hr><strong>İlgi ve Araştırma Alanları:&nbsp;</strong>Güvenlik, Veri Gizliliği, Politika Mühendisliği, Anlamsal Web, Bilgi Mühendisliği, Kriptografi, Bilgisayar Ağları
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="personal_container">
                    <div class="avatar-flip">
                        <img alt="Ahmet EGESOY" src="http://bilmuh.ege.edu.tr/sites/default/files/bilmuh/personel/ogretim_uyeleri/ahmet_egesoy.jpg" height="150" width="150" title="Ahmet EGESOY">
                        <img alt="Ahmet EGESOY" src="http://bilmuh.ege.edu.tr/sites/default/files/bilmuh/personel/ogretim_uyeleri/ahmet_egesoy.jpg" height="150" width="150" title="Ahmet EGESOY">
                    </div>
                    <h2>Ahmet EGESOY, Yrd.Doç.Dr.</h2>
                    <h4>Öğretim Üyesi</h4>
                    <hr><strong>Telefon:&nbsp;</strong>0232 311 53 34
                    <hr><strong>E-Posta:&nbsp;</strong><a href="mailto:ahmet.egesoy@ege.edu.tr">ahmet.egesoy@ege.edu.tr</a>
                    <hr><a href="http://akademik.ege.edu.tr/akademik/?q=tr/bilgiler&amp;id=2429" target="_blank">Akademik Bilgiler</a>&nbsp;&nbsp;-&nbsp;<a href="http://program.bilmuh.ege.edu.tr/view_schedule.php?type=faculty&amp;faculty=16" target="_blank">Haftalık Program</a>
                    <hr><strong>İlgi ve Araştırma Alanları:&nbsp;</strong>Model Tabanlı Yazılım Mühendisliği, Programlama Dilleri
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="personal_container">
                    <div class="avatar-flip">
                        <img alt="Özgür GÜMÜŞ" src="http://bilmuh.ege.edu.tr/sites/default/files/bilmuh/personel/ogretim_uyeleri/ozgur_gumus.jpg" height="150" width="150" title="Özgür GÜMÜŞ">
                        <img alt="Özgür GÜMÜŞ" src="http://bilmuh.ege.edu.tr/sites/default/files/bilmuh/personel/ogretim_uyeleri/ozgur_gumus.jpg" height="150" width="150" title="Özgür GÜMÜŞ">
                    </div>
                    <h2>Kasım Sinan YILDIRIM, Yrd.Doç.Dr.</h2>
                    <h4>Öğretim Üyesi</h4>
                    <hr><strong>Telefon:&nbsp;</strong>0232 311 53 26
                    <hr><strong>E-Posta:&nbsp;</strong><a href="mailto:sinan.yildirim@ege.edu.tr">sinan.yildirim@ege.edu.tr</a>
                    <hr><a href="http://akademik.ege.edu.tr/akademik/?q=tr/bilgiler&amp;id=3847" target="_blank">Akademik Bilgiler</a>&nbsp;-&nbsp;<a href="http://das.ege.edu.tr/~sinanyil/" target="_blank">Kişisel Sayfa</a>&nbsp;&nbsp;-&nbsp;<a href="http://program.bilmuh.ege.edu.tr/view_schedule.php?type=faculty&amp;faculty=42" target="_blank">Haftalık Program</a>
                    <hr><strong>İlgi ve Araştırma Alanları:&nbsp;</strong>İşletim Sistemleri, Gömülü Sistemler, Gerçek Zamanlı Sistemler, Dağıtık Sistemler ve Algoritmalar, Kablosuz Algılayıcı Ağlar
                </div>
            </div>
        </div>
    </div>
</div>