
@{
    ViewBag.Title = "Danismanlar";
    Layout = "~/Views/Shared/_AnaLayout.cshtml";
}
<link href="~/Content/Personal Card/css/style.css" rel="stylesheet" />

<div class="content-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <div class="personal_container">
                    <div class="avatar-flip">
                        <img alt="Oğuz DİKENELLİ" src="http://bilmuh.ege.edu.tr/sites/default/files/bilmuh/personel/ogretim_uyeleri/oguz_dikenelli.jpg" height="150" width="150" title="Oğuz DİKENELLİ">
                        <img alt="Oğuz DİKENELLİ" src="http://bilmuh.ege.edu.tr/sites/default/files/bilmuh/personel/ogretim_uyeleri/oguz_dikenelli.jpg" height="150" width="150" title="Oğuz DİKENELLİ">
                    </div>
                    <h2>Oğuz DİKENELLİ, Prof.Dr.</h2>
                    <h4>Bölüm Başkanı</h4>
                    <hr><strong>Telefon:&nbsp;</strong>0232 388 72 21
                    <hr><strong>E-Posta:&nbsp;</strong><a href="mailto:oguz.dikenelli@ege.edu.tr">oguz.dikenelli@ege.edu.tr</a>
                    <hr><a href="http://akademik.ege.edu.tr/akademik/?q=tr/bilgiler&amp;id=1589" target="_blank">Akademik Bilgiler</a>&nbsp;&nbsp;-&nbsp;&nbsp;<a href="http://program.bilmuh.ege.edu.tr/view_schedule.php?type=faculty&amp;faculty=6" target="_blank">Haftalık Program</a>
                    <hr><strong>İlgi ve Araştırma Alanları:&nbsp;</strong>Etmen Tabanlı Yazılım Mühendisliği, Bağlı Veri, Veb, Etmen Tabanlı Simülasyon, Çevik Yazılım Geliştirme
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="personal_container">
                    <div class="avatar-flip">
                        <img alt="Levent TOKER" src="http://bilmuh.ege.edu.tr/sites/default/files/bilmuh/personel/ogretim_uyeleri/levent_toker.jpg" height="150" width="150" title="Levent TOKER">
                        <img alt="Levent TOKER" src="http://bilmuh.ege.edu.tr/sites/default/files/bilmuh/personel/ogretim_uyeleri/levent_toker.jpg" height="150" width="150" title="Levent TOKER">
                    </div>
                    <h2>Levent TOKER,</h2>
                    <h2>Prof.Dr.</h2>
                    <h4>Öğretim Üyesi</h4>
                    <hr><strong>Telefon:&nbsp;</strong>0232 311 25 85
                    <hr><strong>E-Posta:&nbsp;</strong><a href="mailto:toker1960@gmail.com">toker1960@gmail.com</a>
                    <hr><a href="http://akademik.ege.edu.tr/akademik/?q=tr/bilgiler&amp;id=1217" target="_blank">Akademik Bilgiler</a>&nbsp;-&nbsp;<a href="http://www.leventtoker.com/" target="_blank">Kişisel Sayfa</a>&nbsp;&nbsp;-&nbsp;<a href="http://program.bilmuh.ege.edu.tr/view_schedule.php?type=faculty&amp;faculty=5" target="_blank">Haftalık Program</a>
                    <hr><strong>İlgi ve Araştırma Alanları:&nbsp;</strong>Bilgisayar Ağları, Mobil Ağlar, Bilgisayar Ağı Yönetimi
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="personal_container">
                    <div class="avatar-flip">
                        <img alt="Serdar KORUKOĞLU" src="http://bilmuh.ege.edu.tr/sites/default/files/bilmuh/personel/ogretim_uyeleri/serdar_korukoglu.jpg" height="150" width="150" title="Serdar KORUKOĞLU">
                        <img alt="Serdar KORUKOĞLU" src="http://bilmuh.ege.edu.tr/sites/default/files/bilmuh/personel/ogretim_uyeleri/serdar_korukoglu.jpg" height="150" width="150" title="Serdar KORUKOĞLU">
                    </div>
                    <h2>Serdar KORUKOĞLU, Prof.Dr.</h2>
                    <h4>Uluslararası Bilgisayar Enstitüsü Müdürü</h4>
                    <hr><strong>Telefon:&nbsp;</strong>0232 311 25 86
                    <hr><strong>E-Posta:&nbsp;</strong><a href="mailto:serdar.korukoglu@ege.edu.tr">serdar.korukoglu@ege.edu.tr</a>
                    <hr><a href="http://akademik.ege.edu.tr/akademik/?q=tr/bilgiler&amp;id=881" target="_blank">Akademik Bilgiler</a>&nbsp;-&nbsp;<a href="http://www.korukoglu.com/" target="_blank">Kişisel Sayfa</a>&nbsp;&nbsp;-&nbsp;<a href="http://program.bilmuh.ege.edu.tr/view_schedule.php?type=faculty&amp;faculty=4" target="_blank">Haftalık Program</a>
                    <hr><strong>İlgi ve Araştırma Alanları:&nbsp;</strong> Sistem Modelleme ve Simülasyonu, Sayısal Yöntemler, İstatistik Analizler, Optimizasyon Teknikleri, Veri Madenciliği
                </div>
            </div>
        </div>
        <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="personal_container">
                        <div class="avatar-flip">
                            <img alt="Oğuz DİKENELLİ" src="http://bilmuh.ege.edu.tr/sites/default/files/bilmuh/personel/ogretim_uyeleri/oguz_dikenelli.jpg" height="150" width="150" title="Oğuz DİKENELLİ">
                            <img alt="Oğuz DİKENELLİ" src="http://bilmuh.ege.edu.tr/sites/default/files/bilmuh/personel/ogretim_uyeleri/oguz_dikenelli.jpg" height="150" width="150" title="Oğuz DİKENELLİ">
                        </div>
                        <h2>Oğuz DİKENELLİ, Prof.Dr.</h2>
                        <h4>Bölüm Başkanı</h4>
                        <hr><strong>Telefon:&nbsp;</strong>0232 388 72 21
                        <hr><strong>E-Posta:&nbsp;</strong><a href="mailto:oguz.dikenelli@ege.edu.tr">oguz.dikenelli@ege.edu.tr</a>
                        <hr><a href="http://akademik.ege.edu.tr/akademik/?q=tr/bilgiler&amp;id=1589" target="_blank">Akademik Bilgiler</a>&nbsp;&nbsp;-&nbsp;&nbsp;<a href="http://program.bilmuh.ege.edu.tr/view_schedule.php?type=faculty&amp;faculty=6" target="_blank">Haftalık Program</a>
                        <hr><strong>İlgi ve Araştırma Alanları:&nbsp;</strong>Etmen Tabanlı Yazılım Mühendisliği, Bağlı Veri, Veb, Etmen Tabanlı Simülasyon, Çevik Yazılım Geliştirme
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="personal_container">
                        <div class="avatar-flip">
                            <img alt="Serdar KORUKOĞLU" src="http://bilmuh.ege.edu.tr/sites/default/files/bilmuh/personel/ogretim_uyeleri/serdar_korukoglu.jpg" height="150" width="150" title="Serdar KORUKOĞLU">
                            <img alt="Serdar KORUKOĞLU" src="http://bilmuh.ege.edu.tr/sites/default/files/bilmuh/personel/ogretim_uyeleri/serdar_korukoglu.jpg" height="150" width="150" title="Serdar KORUKOĞLU">
                        </div>
                        <h2>Serdar KORUKOĞLU, Prof.Dr.</h2>
                        <h4>Uluslararası Bilgisayar Enstitüsü Müdürü</h4>
                        <hr><strong>Telefon:&nbsp;</strong>0232 311 25 86
                        <hr><strong>E-Posta:&nbsp;</strong><a href="mailto:serdar.korukoglu@ege.edu.tr">serdar.korukoglu@ege.edu.tr</a>
                        <hr><a href="http://akademik.ege.edu.tr/akademik/?q=tr/bilgiler&amp;id=881" target="_blank">Akademik Bilgiler</a>&nbsp;-&nbsp;<a href="http://www.korukoglu.com/" target="_blank">Kişisel Sayfa</a>&nbsp;&nbsp;-&nbsp;<a href="http://program.bilmuh.ege.edu.tr/view_schedule.php?type=faculty&amp;faculty=4" target="_blank">Haftalık Program</a>
                        <hr><strong>İlgi ve Araştırma Alanları:&nbsp;</strong> Sistem Modelleme ve Simülasyonu, Sayısal Yöntemler, İstatistik Analizler, Optimizasyon Teknikleri, Veri Madenciliği
                    </div>
                </div>
            <div class="col-md-4 col-sm-4">
                <div class="personal_container">
                    <div class="avatar-flip">
                        <img alt="Serdar KORUKOĞLU" src="http://bilmuh.ege.edu.tr/sites/default/files/bilmuh/personel/ogretim_uyeleri/serdar_korukoglu.jpg" height="150" width="150" title="Serdar KORUKOĞLU">
                        <img alt="Serdar KORUKOĞLU" src="http://bilmuh.ege.edu.tr/sites/default/files/bilmuh/personel/ogretim_uyeleri/serdar_korukoglu.jpg" height="150" width="150" title="Serdar KORUKOĞLU">
                    </div>
                    <h2>Serdar KORUKOĞLU, Prof.Dr.</h2>
                    <h4>Uluslararası Bilgisayar Enstitüsü Müdürü</h4>
                    <hr><strong>Telefon:&nbsp;</strong>0232 311 25 86
                    <hr><strong>E-Posta:&nbsp;</strong><a href="mailto:serdar.korukoglu@ege.edu.tr">serdar.korukoglu@ege.edu.tr</a>
                    <hr><a href="http://akademik.ege.edu.tr/akademik/?q=tr/bilgiler&amp;id=881" target="_blank">Akademik Bilgiler</a>&nbsp;-&nbsp;<a href="http://www.korukoglu.com/" target="_blank">Kişisel Sayfa</a>&nbsp;&nbsp;-&nbsp;<a href="http://program.bilmuh.ege.edu.tr/view_schedule.php?type=faculty&amp;faculty=4" target="_blank">Haftalık Program</a>
                    <hr><strong>İlgi ve Araştırma Alanları:&nbsp;</strong> Sistem Modelleme ve Simülasyonu, Sayısal Yöntemler, İstatistik Analizler, Optimizasyon Teknikleri, Veri Madenciliği
                </div>
            </div>
            </div>
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <div class="personal_container">
                    <div class="avatar-flip">
                        <img alt="Oğuz DİKENELLİ" src="http://bilmuh.ege.edu.tr/sites/default/files/bilmuh/personel/ogretim_uyeleri/oguz_dikenelli.jpg" height="150" width="150" title="Oğuz DİKENELLİ">
                        <img alt="Oğuz DİKENELLİ" src="http://bilmuh.ege.edu.tr/sites/default/files/bilmuh/personel/ogretim_uyeleri/oguz_dikenelli.jpg" height="150" width="150" title="Oğuz DİKENELLİ">
                    </div>
                    <h2>Oğuz DİKENELLİ, Prof.Dr.</h2>
                    <h4>Bölüm Başkanı</h4>
                    <hr><strong>Telefon:&nbsp;</strong>0232 388 72 21
                    <hr><strong>E-Posta:&nbsp;</strong><a href="mailto:oguz.dikenelli@ege.edu.tr">oguz.dikenelli@ege.edu.tr</a>
                    <hr><a href="http://akademik.ege.edu.tr/akademik/?q=tr/bilgiler&amp;id=1589" target="_blank">Akademik Bilgiler</a>&nbsp;&nbsp;-&nbsp;&nbsp;<a href="http://program.bilmuh.ege.edu.tr/view_schedule.php?type=faculty&amp;faculty=6" target="_blank">Haftalık Program</a>
                    <hr><strong>İlgi ve Araştırma Alanları:&nbsp;</strong>Etmen Tabanlı Yazılım Mühendisliği, Bağlı Veri, Veb, Etmen Tabanlı Simülasyon, Çevik Yazılım Geliştirme
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="personal_container">
                    <div class="avatar-flip">
                        <img alt="Serdar KORUKOĞLU" src="http://bilmuh.ege.edu.tr/sites/default/files/bilmuh/personel/ogretim_uyeleri/serdar_korukoglu.jpg" height="150" width="150" title="Serdar KORUKOĞLU">
                        <img alt="Serdar KORUKOĞLU" src="http://bilmuh.ege.edu.tr/sites/default/files/bilmuh/personel/ogretim_uyeleri/serdar_korukoglu.jpg" height="150" width="150" title="Serdar KORUKOĞLU">
                    </div>
                    <h2>Serdar KORUKOĞLU, Prof.Dr.</h2>
                    <h4>Uluslararası Bilgisayar Enstitüsü Müdürü</h4>
                    <hr><strong>Telefon:&nbsp;</strong>0232 311 25 86
                    <hr><strong>E-Posta:&nbsp;</strong><a href="mailto:serdar.korukoglu@ege.edu.tr">serdar.korukoglu@ege.edu.tr</a>
                    <hr><a href="http://akademik.ege.edu.tr/akademik/?q=tr/bilgiler&amp;id=881" target="_blank">Akademik Bilgiler</a>&nbsp;-&nbsp;<a href="http://www.korukoglu.com/" target="_blank">Kişisel Sayfa</a>&nbsp;&nbsp;-&nbsp;<a href="http://program.bilmuh.ege.edu.tr/view_schedule.php?type=faculty&amp;faculty=4" target="_blank">Haftalık Program</a>
                    <hr><strong>İlgi ve Araştırma Alanları:&nbsp;</strong> Sistem Modelleme ve Simülasyonu, Sayısal Yöntemler, İstatistik Analizler, Optimizasyon Teknikleri, Veri Madenciliği
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="personal_container">
                    <div class="avatar-flip">
                        <img alt="Serdar KORUKOĞLU" src="http://bilmuh.ege.edu.tr/sites/default/files/bilmuh/personel/ogretim_uyeleri/serdar_korukoglu.jpg" height="150" width="150" title="Serdar KORUKOĞLU">
                        <img alt="Serdar KORUKOĞLU" src="http://bilmuh.ege.edu.tr/sites/default/files/bilmuh/personel/ogretim_uyeleri/serdar_korukoglu.jpg" height="150" width="150" title="Serdar KORUKOĞLU">
                    </div>
                    <h2>Serdar KORUKOĞLU, Prof.Dr.</h2>
                    <h4>Uluslararası Bilgisayar Enstitüsü Müdürü</h4>
                    <hr><strong>Telefon:&nbsp;</strong>0232 311 25 86
                    <hr><strong>E-Posta:&nbsp;</strong><a href="mailto:serdar.korukoglu@ege.edu.tr">serdar.korukoglu@ege.edu.tr</a>
                    <hr><a href="http://akademik.ege.edu.tr/akademik/?q=tr/bilgiler&amp;id=881" target="_blank">Akademik Bilgiler</a>&nbsp;-&nbsp;<a href="http://www.korukoglu.com/" target="_blank">Kişisel Sayfa</a>&nbsp;&nbsp;-&nbsp;<a href="http://program.bilmuh.ege.edu.tr/view_schedule.php?type=faculty&amp;faculty=4" target="_blank">Haftalık Program</a>
                    <hr><strong>İlgi ve Araştırma Alanları:&nbsp;</strong> Sistem Modelleme ve Simülasyonu, Sayısal Yöntemler, İstatistik Analizler, Optimizasyon Teknikleri, Veri Madenciliği
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <div class="personal_container">
                    <div class="avatar-flip">
                        <img alt="Oğuz DİKENELLİ" src="http://bilmuh.ege.edu.tr/sites/default/files/bilmuh/personel/ogretim_uyeleri/oguz_dikenelli.jpg" height="150" width="150" title="Oğuz DİKENELLİ">
                        <img alt="Oğuz DİKENELLİ" src="http://bilmuh.ege.edu.tr/sites/default/files/bilmuh/personel/ogretim_uyeleri/oguz_dikenelli.jpg" height="150" width="150" title="Oğuz DİKENELLİ">
                    </div>
                    <h2>Oğuz DİKENELLİ, Prof.Dr.</h2>
                    <h4>Bölüm Başkanı</h4>
                    <hr><strong>Telefon:&nbsp;</strong>0232 388 72 21
                    <hr><strong>E-Posta:&nbsp;</strong><a href="mailto:oguz.dikenelli@ege.edu.tr">oguz.dikenelli@ege.edu.tr</a>
                    <hr><a href="http://akademik.ege.edu.tr/akademik/?q=tr/bilgiler&amp;id=1589" target="_blank">Akademik Bilgiler</a>&nbsp;&nbsp;-&nbsp;&nbsp;<a href="http://program.bilmuh.ege.edu.tr/view_schedule.php?type=faculty&amp;faculty=6" target="_blank">Haftalık Program</a>
                    <hr><strong>İlgi ve Araştırma Alanları:&nbsp;</strong>Etmen Tabanlı Yazılım Mühendisliği, Bağlı Veri, Veb, Etmen Tabanlı Simülasyon, Çevik Yazılım Geliştirme
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="personal_container">
                    <div class="avatar-flip">
                        <img alt="Serdar KORUKOĞLU" src="http://bilmuh.ege.edu.tr/sites/default/files/bilmuh/personel/ogretim_uyeleri/serdar_korukoglu.jpg" height="150" width="150" title="Serdar KORUKOĞLU">
                        <img alt="Serdar KORUKOĞLU" src="http://bilmuh.ege.edu.tr/sites/default/files/bilmuh/personel/ogretim_uyeleri/serdar_korukoglu.jpg" height="150" width="150" title="Serdar KORUKOĞLU">
                    </div>
                    <h2>Serdar KORUKOĞLU, Prof.Dr.</h2>
                    <h4>Uluslararası Bilgisayar Enstitüsü Müdürü</h4>
                    <hr><strong>Telefon:&nbsp;</strong>0232 311 25 86
                    <hr><strong>E-Posta:&nbsp;</strong><a href="mailto:serdar.korukoglu@ege.edu.tr">serdar.korukoglu@ege.edu.tr</a>
                    <hr><a href="http://akademik.ege.edu.tr/akademik/?q=tr/bilgiler&amp;id=881" target="_blank">Akademik Bilgiler</a>&nbsp;-&nbsp;<a href="http://www.korukoglu.com/" target="_blank">Kişisel Sayfa</a>&nbsp;&nbsp;-&nbsp;<a href="http://program.bilmuh.ege.edu.tr/view_schedule.php?type=faculty&amp;faculty=4" target="_blank">Haftalık Program</a>
                    <hr><strong>İlgi ve Araştırma Alanları:&nbsp;</strong> Sistem Modelleme ve Simülasyonu, Sayısal Yöntemler, İstatistik Analizler, Optimizasyon Teknikleri, Veri Madenciliği
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="personal_container">
                    <div class="avatar-flip">
                        <img alt="Serdar KORUKOĞLU" src="http://bilmuh.ege.edu.tr/sites/default/files/bilmuh/personel/ogretim_uyeleri/serdar_korukoglu.jpg" height="150" width="150" title="Serdar KORUKOĞLU">
                        <img alt="Serdar KORUKOĞLU" src="http://bilmuh.ege.edu.tr/sites/default/files/bilmuh/personel/ogretim_uyeleri/serdar_korukoglu.jpg" height="150" width="150" title="Serdar KORUKOĞLU">
                    </div>
                    <h2>Serdar KORUKOĞLU, Prof.Dr.</h2>
                    <h4>Uluslararası Bilgisayar Enstitüsü Müdürü</h4>
                    <hr><strong>Telefon:&nbsp;</strong>0232 311 25 86
                    <hr><strong>E-Posta:&nbsp;</strong><a href="mailto:serdar.korukoglu@ege.edu.tr">serdar.korukoglu@ege.edu.tr</a>
                    <hr><a href="http://akademik.ege.edu.tr/akademik/?q=tr/bilgiler&amp;id=881" target="_blank">Akademik Bilgiler</a>&nbsp;-&nbsp;<a href="http://www.korukoglu.com/" target="_blank">Kişisel Sayfa</a>&nbsp;&nbsp;-&nbsp;<a href="http://program.bilmuh.ege.edu.tr/view_schedule.php?type=faculty&amp;faculty=4" target="_blank">Haftalık Program</a>
                    <hr><strong>İlgi ve Araştırma Alanları:&nbsp;</strong> Sistem Modelleme ve Simülasyonu, Sayısal Yöntemler, İstatistik Analizler, Optimizasyon Teknikleri, Veri Madenciliği
                </div>
            </div>
        </div>
    </div>
</div>