
@{
    ViewBag.Title = "Iletisim";
    Layout = "~/Views/Shared/_AnaLayout.cshtml";
}
<div class="container">
    <div class="row-fluid">
        <div class="span8">
            <iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJVY5-3y59uRQR88hmdKdnzF8&key=AIzaSyAi74EHGWZm2e-WrFWcGaXj_cz5L2UMw8Y" allowfullscreen></iframe>
        </div>
        <div class="span4">
            <h2>Ege Üniversitesi Bilgisayar Mühendisliği</h2>
            <address>
                <strong>ADRES</strong><br>
                Mühendislik Fakültesi<br>
                Bilgisayar Mühendisliği Bölümü<br>
                35100 Bornova İZMİR<br>

                <strong>Telefon</strong>
                +90 232 388 72 21
                <strong>Faks</strong>
                +90 232 339 94 05
                <strong>E-Posta</strong>
                bilmuh@mail.ege.edu.tr
            </address>
        </div>
    </div>
</div>

