
@{
    ViewBag.Title = "TezKoordinatoru";
    Layout = "~/Views/Shared/_AnaLayout.cshtml";
}

<link href="~/Content/Personal Card/css/style.css" rel="stylesheet" />

<div class="content-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="personal_container">
                    <div class="avatar-flip">
                        <img alt="Özgü CAN" src="http://bilmuh.ege.edu.tr/sites/default/files/bilmuh/personel/ogretim_uyeleri/ozgu_can.jpg" height="150" width="150" title="Özgü CAN">                        <img alt="Oğuz DİKENELLİ" src="http://bilmuh.ege.edu.tr/sites/default/files/bilmuh/personel/ogretim_uyeleri/oguz_dikenelli.jpg" height="150" width="150" title="Oğuz DİKENELLİ">
                        <img alt="Özgü CAN" src="http://bilmuh.ege.edu.tr/sites/default/files/bilmuh/personel/ogretim_uyeleri/ozgu_can.jpg" height="150" width="150" title="Özgü CAN">
                    </div>
                    <h2>Özgü CAN, Yrd.Doç.Dr.</h2>
                    <h4>Bölüm Bitirme Projeleri Koordinatörü</h4>
                    <hr><strong>Telefon:&nbsp;</strong>0232 311 53 32
                    <hr><strong>E-Posta:&nbsp;</strong><a href="mailto:ozgu.can@ege.edu.tr">ozgu.can@ege.edu.tr</a>
                    <hr><a href="http://akademik.ege.edu.tr/akademik/?q=tr/bilgiler&amp;id=3315" target="_blank">Akademik Bilgiler</a>&nbsp;-&nbsp;<a href="http://semanticweb.ege.edu.tr/ozgucan/" target="_blank">Kişisel Sayfa</a>&nbsp;&nbsp;-&nbsp;<a href="http://program.bilmuh.ege.edu.tr/view_schedule.php?type=faculty&amp;faculty=15" target="_blank">Haftalık Program</a>
                    <hr><strong>İlgi ve Araştırma Alanları:&nbsp;</strong>Güvenlik, Veri Gizliliği, Politika Mühendisliği, Anlamsal Web, Bilgi Mühendisliği, Kriptografi, Bilgisayar Ağları                </div>
            </div>
        </div>
    </div>
</div>

