
@{
    ViewBag.Title = "GorevDeneme";
    Layout = "~/Views/Shared/_LoggedOgrenciLayout.cshtml";
}

@if (ViewBag.Message != null)
{
    <label style="color:red">@ViewBag.Message</label>
}
@using (Html.BeginForm("GorevDeneme", "LoggedOgrenci", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
<div class="panel panel-info">
    <div class="panel-heading">
        Görev Bilgilerini Doldurunuz
    </div>
    <div class="panel-body">
        <form role="form" enctype="multipart/form-data">
            <div class="form-group">
                <label>Gorev Adı</label>
                <input class="form-control" type="text" />
            </div>
            <div class="form-group">
                <label>Açıklama</label>
                <input class="form-control" type="text" />
            </div>

            <div class="form-group">
                <label>Dosya Ekleyiniz </label>
                <input type="file" name="yuklenecekDosya" />
            </div>
            <button type="submit" class="btn btn-success">İşlemi Tamamla </button>           
        </form>
    </div>
</div>
}
